In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn.datasets import make_hastie_10_2
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import preprocessing

%matplotlib inline

In [2]:
no_post_set_complete = pd.read_csv('no_post_listo.csv')
no_post_set_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1683942 entries, 0 to 1683941
Columns: 218 entries, Unnamed: 0 to f216
dtypes: int64(218)
memory usage: 2.7 GB

In [3]:
no_post_set_complete=no_post_set_complete.sample(frac=0.3)
no_post_set_complete.drop(columns='Unnamed: 0', inplace=True)
no_post_set_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 505183 entries, 1663829 to 285993
Columns: 217 entries, edad to f216
dtypes: int64(217)
memory usage: 840.2 MB

In [4]:
no_post_set_complete.reset_index(inplace=True, drop=True)

In [5]:
no_post_set_complete.head()

,edad,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f207,f208,f209,f210,f211,f212,f213,f214,f215,f216
0,32,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,23,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,27,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,34,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,32,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [6]:
post_set_complete = pd.read_csv('post_listo.csv')
post_set_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1687141 entries, 0 to 1687140
Columns: 221 entries, Unnamed: 0 to f219
dtypes: int64(221)
memory usage: 2.8 GB

In [7]:
post_set_complete=post_set_complete.sample(frac=0.3)
post_set_complete.drop(columns='Unnamed: 0', inplace=True)
post_set_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 506142 entries, 141850 to 892267
Columns: 220 entries, edad to f219
dtypes: int64(220)
memory usage: 853.4 MB

In [8]:
post_set_complete.reset_index(inplace=True, drop=True)

In [17]:
post_set_complete.head()

,edad,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f207,f208,f209,f210,f211,f212,f213,f214,f215,f216
0,26,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,28,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,40,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,23,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,23,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
post_set_complete.drop(columns=['f217', 'f218', 'f219'], inplace=True)

In [16]:
#post_set_complete['clase']=1
#no_post_set_complete['clase']=0
#no_post_set_complete.drop(columns='clase', inplace=True)

In [14]:
clases= pd.concat([(post_set_complete['clase'].to_frame()),(no_post_set_complete['clase'].to_frame())])

In [ ]:
clf = GradientBoostingClassifier().fit(pd.concat([post_set_complete, no_post_set_complete]), clases)

In [19]:
clf.score(pd.concat([post_set_complete, no_post_set_complete]), clases)

0.6838108422119497

In [52]:
results=clf.predict(test100k)

In [53]:
results.shape

(100000,)

In [32]:
test100k = pd.read_csv('test100kfinish.csv')
test100k.head()

,Unnamed: 0,id,edad,f1,f2,f3,f4,f5,f6,f7,...,f207,f208,f209,f210,f211,f212,f213,f214,f215,f216
0,0,0,42,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,30,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2,36,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,3,3,68,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,4,4,32,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0

In [45]:
test100k.drop_duplicates(subset=['id'],keep='first',inplace=True)

In [47]:
test100k.head()

,id,edad,f1,f2,f3,f4,f5,f6,f7,f8,...,f207,f208,f209,f210,f211,f212,f213,f214,f215,f216
0,0,42,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,30,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,36,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,3,68,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,4,32,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0

In [61]:
ids.rename(columns={'probabilidad':'sepostulo'},inplace=True)

In [62]:
ids.to_csv('primertest100k.csv', index=False)

In [51]:
test100k.drop(columns='id',inplace=True)

In [54]:
results

array([1, 1, 1, ..., 1, 1, 0])